*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear{
	clear: both;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

header{
	padding: 10px;
}

       h1{
	font-size: 20px;
	float: left;
	margin-top: 10px;
}

  ul{
  	list-style-type: none;
  	list-style-position: inside;
	float: right;
	}
   li{

	display: inline-block;
	margin-top: 5px;
	margin-right: 10px;


}

#add-product-btn,#save-product-btn{
	cursor: pointer;
	background: #81c784;
	border: none;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	color: white;
}

#delete-product-btn,#cancel-product-btn{
	cursor: pointer;
	background: #ef5350;
	border: none;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	color: white;
}

#add-product-btn:hover, #save-product-btn:hover{
	background: #a5d6a7;
}

#delete-product-btn:hover, #cancel-product-btn:hover{
	background: #ef9a9a;
}

#massDel{
	width: 100%;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.delete-checkbox{
	position: relative;
	left: 5%;
}

.single-product{
	border: 1px solid black;
	margin: 10px 5%;
	width: 15%;
	height: 150px;
}

.single-product p{
	text-align: center;
}

footer{
	padding: 10px;
	text-align: center;
	}
		p{
	margin: 10px 0;

}

/* Add Product*/
table td:nth-of-type(1){
	width: 50%;
}


table tr[opt]{
	display: none;
}